.bot{

background:#EEF4FF;

padding:12px;

border-radius:10px;

margin:10px 0;

max-width:90%;

line-height:1.6;

}

.user{

background:#DCFCE7;

padding:12px;

border-radius:10px;

margin:10px 0;

margin-left:auto;

max-width:90%;

line-height:1.6;

text-align:right;

}

#messages{

scroll-behavior:smooth;

}