# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# Virtual Environments
.venv/
venv/
env/

# Logs
*.log

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Build
dist/
build/

# Node
node_modules/